.navRoot {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 5vw;

  background: rgba(18, 18, 18, 0.6);
  backdrop-filter: blur(10px);

  z-index: 1000;
}

.navLogo {
  display: flex;
  align-items: center;
  gap: 12px;

  font-family: "Syne", sans-serif;
  font-weight: 700;
}

.navLogo img {
  width: 42px;
  height: 42px;

  padding: 2px;
  background: var(--primary);
  border-radius: 50%;

  box-shadow:
    0 0 10px rgba(226, 88, 34, 0.6),
    0 0 20px rgba(226, 88, 34, 0.4),
    0 0 40px rgba(226, 88, 34, 0.2);

  z-index: 1;
}

.navLogo img {
  width: 32px;
  height: 32px;
}

.navLogo span {
  color: var(--light-text);
}

.navDesktop {
  display: flex;
  gap: 8px;
  list-style: none;
}

.navDesktop button {
  text-decoration: none;
  color: var(--muted-text);
  background: none;
  font-family: "Syne", sans-serif;
  font-size: 0.9rem;
  font-weight: bold;

  transition: 0.3s;
}

.navDesktop button.active,
.navDesktop button:hover {
  color: var(--primary);
  background:none ;
}

.navBurger {
  cursor: pointer;
  color: var(--light-text);
  z-index: 1100;

  display: flex;
  align-items: center;
  justify-content: center;
}

.navBurger span {
  width: 25px;
  height: 2px;
  background: var(--light-text);
  transition: 0.3s;
}

.navOverlay {
  position: fixed;
  inset: 0;
  background: black;
  backdrop-filter: blur(6px);
  z-index: 900;
}

.navDrawer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;

  background: black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  padding-left: 8vw;
  gap: 25px;

  list-style: none;
  z-index: 1000;
}

.navDrawer a {
  font-family: "Syne", sans-serif;
  font-weight: 800;

  font-size: clamp(2.5rem, 8vw, 4rem);
  letter-spacing: -1px;

  text-decoration: none;
  color: var(--muted-text);

  transition: 0.3s;
}

.navDrawer a.active {
  background: linear-gradient(120deg, var(--primary), var(--accent));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navDrawer a:hover {
  transform: translateX(10px);
  color: var(--primary);
}

.navDrawer a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background: var(--primary);
  margin-top: 6px;
  transition: width 0.3s ease;
}

.navDrawer a:hover::after {
  width: 40%;
}
